*{
  outline: 1px solid red !important;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box
}

*{
  font-family: 'Open Sans', sans-serif;
}

img{
  padding: 5px 0 0 5px;
}

/*main container*/
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: baseline;
}

/*Default flex item properties*/
.flex-items-default {
  width: 300px;
  height: 100px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 0;
}

/* TODO: Change these to be appropriate, values are for testing only */
.flex-header{
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  border-bottom: 2px solid #DADADA;
}

/*Start Nav*/

.nav-menu{
  width: 100%;
  background-color: #fff;
}

.nav-menu ul, .nav-menu li{
  padding: 1em;
  /*margin: 0;*/
}

.nav-menu li{
  list-style-type: none;
  float: left;
  position: relative; /*Makes sub nav open downward*/
  padding: 5px 20px 0 20px;
  display: flex;
}

/*Hide sub menus*/
.nav-menu ul {
  display: none;
  position: absolute;
  background-color: #507AA5;
}

/*Make sub menus of sub menus list horizontally*/
.nav-menu ul ul {
  left: 100%;
}

.nav-menu a {
  color: #000;
  display:block;
  width: 100%;
  text-decoration: none;
}

.nav-menu a:hover {
  background-color: #507AA5;
  color: #fff;
}

/*Show sub menus when moused over*/
.nav-menu li:hover > ul {
  display: block;
}

/*Show sub menus when moused over*/
.nav-menu ul.parent_hover {
  display: block;
}

/* TODO: Check why you need clear here, dont quite understand */
.nav-menu + * {
  clear: left;
}

.navmenu > li {
  float: left;
}

.end-menu{
  clear: left;
}

/*End Nav, Start Search*/

li.align-search {
  float: right;
  padding-top: 0;
}

.form-wrapper {
	background-color: #FAFAFA;
	border-color: #DADADA;
	border-style: solid;
	border-width: 1px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
  float: right;
	overflow: hidden;
}

.form-wrapper #search {
  padding: 8px;
  border: 0;
  background-color: #FAFAFA;
}

.form-wrapper #submit {
  border: 0;
	background-color: #507AA5;
	color: #fafafa;
	cursor: pointer;
	float: right;
  /*margin-left: -38px;*/
  -webkit-border-radius:0px 5px 5px 0px;
  -moz-border-radius:0px 5px 5px 0px;
  border-radius:0px 5px 5px 0px;
  height: 35px;
}

/*removes focus boxes arounf forms*/
input:focus, select:focus, textarea:focus,button:focus {
    outline: none;
}
/*End Search, Begin Hamburger Menu*/

/* TODO: hamburger menu */

/*End Hamburger, Start Content*/
/* TODO: Change these to be appropriate, values are for testing only */
article{
  width: 70%;
}

ul{
  list-style: none;
}

p{
  display: inline-block;
  margin: 0;
}

div{
  display: inline-block;
}

h1{
  color: #507AA5;
}

.right{
  float: right;
}

/*End content, start Sidebar*/
.blank-sidebar{
  padding-left: 1em;
  width: 20%;
  border-left:1px solid #000;
}
