*{
  /*outline: 1px solid red !important;*/
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box
}

*{
  font-family: 'Open Sans', sans-serif;
}

hr{
  margin: 2px 0 2px 0;
}

h1{
  padding-bottom: 5px;
  font-size: 2em;
  margin: 0;
}

h4{
  margin: 5px 0 5px 0;
  font-weight: normal;
}

a{
  text-decoration: none;
  color: #507AA5;
}

.arrow{
  color: #BFBFBF;
}

/*main container*/
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: baseline;
}

/*Default flex item properties*/
.flex-items-default {
  width: 300px;
  height: 100px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 0;
}

.flex-header{
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  border-bottom: 2px solid #DADADA;
  margin: 1em 32px 0 32px;
}

/*Start Nav*/

.nav-menu{
  width: 100%;
  background-color: #fff;
  padding-left: 10px;
  margin-top: 0;
}

.nav-menu li{
  list-style-type: none;
  float: left;
  position: relative; /*Makes sub nav open downward*/
  margin: 5px 20px 0 0;
  display: flex;
}

.nav-menu a{
  padding: 10px;
}

/*Hide sub menus*/
.nav-menu ul {
  display: none;
  position: absolute;
  background-color: #507AA5;
  -webkit-border-radius: 0 10px 10px 10px;
	-moz-border-radius: 0 10px 10px 10px;
	border-radius: 0 10px 10px 10px;
  margin-top: 35px;
  padding-left: 0;
}

/*Make sub menus of sub menus list horizontally*/
.nav-menu ul ul {
  left: 100%;
}

.nav-menu a {
  color: #000;
  display:block;
  width: 100%;
  text-decoration: none;
}

.nav-menu a:hover {
  -webkit-border-radius: 10px 10px 10px 0;
  -moz-border-radius: 10px 10px 10px 0;
  border-radius: 10px 10px 10px 0;
  background-color: #507AA5;
  color: #fff;
}

/*Show sub menus when moused over*/
.nav-menu li:hover > ul {
  display: block;
}

/*Show sub menus when moused over*/
.nav-menu ul.parent_hover {
  display: block;
}

/* TODO: Check why you need clear here, dont quite understand */
.nav-menu + * {
  clear: left;
}

.navmenu > li {
  float: left;
}

.end-menu{
  clear: left;
}

/*End Nav, Start Search*/

li.align-search {
  float: right;
  padding-top: 0;
}

.form-wrapper {
	background-color: #FAFAFA;
	border-color: #DADADA;
	border-style: solid;
	border-width: 1px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
  float: right;
	overflow: hidden;
}

.form-wrapper #search {
  padding: 8px;
  border: 0;
  background-color: #FAFAFA;
}

.form-wrapper #submit {
  border: 0;
	background-color: #507AA5;
	color: #fafafa;
	cursor: pointer;
	float: right;
  -webkit-border-radius:0px 5px 5px 0px;
  -moz-border-radius:0px 5px 5px 0px;
  border-radius:0px 5px 5px 0px;
  height: 35px;
}

/*removes focus boxes arounf forms*/
input:focus, select:focus, textarea:focus,button:focus {
    outline: none;
}

/*MAIN*/
.image{
  position:relative;
}

#text{
  position: absolute;
  background-color: #507AA5;
  color:white;
  font-size:16px;
  text-align: right;
  top: 125px;
  left: 6px;
  width: 149px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.article-img {
  padding:5px;
  border:1px solid #DADADA;
	position: absolute;
}

.align-article-info{
  vertical-align: top;
  width: 65vw;
}

article{
  border-bottom: 2px solid #DADADA;
  min-height: 200px;
}

article ul{
  list-style: none;
  margin-top: -15px;
  margin-left: 9em;
  padding-bottom: .5em;
}

hr{
  border: 1px solid #F1F1F1;
}

p{
  display: inline-block;
  margin: 0;
}

div{
  display: inline-block;
}

.right{
  float: right;
}

.blue{
  color: #507AA5;
}

.articles{
  margin: 1em;
  width: 65vw;
}

/*TEST*/

/* header */
.flex-header ul {
  overflow: hidden;
}


/* menu */

.flex-header .nav-menu {
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.flex-header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.flex-header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.flex-header .menu-icon .navicon:before,
.flex-header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.flex-header .menu-icon .navicon:before {
  top: 5px;
}

.flex-header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

/*dont display the radio button used to toggle the inputs*/
.flex-header .menu-btn {
  display: none;
}

/* TODO: Might need? */
.flex-header .menu-btn:checked ~ .nav-menu {
  max-height: 240px;
}

/*The next four secions transform the hamburger menu into the x shape*/
.flex-header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.flex-header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.flex-header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.flex-header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.flex-header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 1218px) {
  .flex-header li {
    float: left;
  }
  .flex-header .nav-menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .flex-header .menu-icon {
    display: none;
  }
}
