*{
  outline: 1px solid red !important;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box

}

/*main container*/
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*Default flex item properties*/
.flex-items-default {
  width: 300px;
  height: 100px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 0;
}

/* TODO: Change these to be appropriate, values are for testing only */
.flex-header{
  width: 100%;
  flex-wrap: nowrap;
}

/* TODO: Change these to be appropriate, values are for testing only */
.flex-content{
  width: 65%;
  height: 100px;
}

.flex-nav{
  justify-content: flex-start;
  margin: 0 auto;
}

.nav-menu, .nav-menu ul, .nav-menu li{
  padding: 0;
  margin: 0;
}

.nav-menu li{
  list-style-type: none;
  float: left;
}

/*Hide sub menus*/
.nav-menu ul{
  display: none;
  position: absolute;
}

.nav-menu a {
  color: #000;
  display:block;
  width: 100%;
  text-decoration: none;
}

.nav-menu a:hover {
  background-color: #507AA5;
  color: #fff;
}

/* TODO: Check why you need clear here, dont quite understand */
.nav-menu + *{
  clear: left;
}

/*Show sub menus when moused over*/
.nav-menu li:hover > ul
{
  display: block;
}

/*Show sub menus when moused over*/
.nav-menu ul.parent_hover
{
  display: block;
}

.navmenu > li {
  float: left;
}

.end-menu{
  clear: left;
}
