@media screen and (min-width: 1150px) {
  .flex-header ul {
    overflow:visible;
  }
  .flex-header li {
    float: left;
  }
  .flex-header .nav-menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .flex-header .menu-icon {
    display: none;
  }
}

@media screen and (max-width: 1150px) {
  .nav-menu li{
    display: block;
    float: none;
  }
  .nav-menu img{
    display: none;
  }
  .search{
    display: none;
  }
  .nav-menu a{
    padding: 0;
    width: 25%;
  }
  .nav-menu{
    display: block;
  }
}


@media screen and (max-width: 965px) {
  .image{
    display: none;
  }
  article ul{
    margin-top: 0;
    margin-left: 0;
    padding: 0;
  }
}

@media screen and (max-width: 670px) {
  .nav-menu a{
    width: 50%;
  }
}

@media screen and (max-width: 650px) {
  .extra-info{
    display: none;
  }
  .author{
    float: left;
  }
  .collapse-arrow{
    display: none;
  }
  .articles{
    width: 80vw;
  }
  .align-article-info{
    width: 80vw;
  }
  .container{
    margin-right: 32px;
  }
  .flex-header{
    margin: 0 0 0 32px;
    width: 80vw;
  }
}
