
@media screen and (min-width: 1160px) {
  .flex-header ul {
    overflow:visible;
  }
}

@media screen and (max-width: 1160px) {
  .nav-menu li{
    display: block;
    float: none;
  }
  .nav-menu img{
    display: none;
  }
  .search{
    display: none;
  }
}


@media screen and (max-width: 965px) {
  .image{
    display: none;
  }
  article ul{
    margin-left: 0;
  }
  .align-article-info{
    width: 90vw;
  }
  .articles{
    width: 90vw;
  }
  ul{
    padding-left: 0;
  }
}

@media screen and (max-width: 650px) {
  .extra-info{
    display: none;
  }
  .author{
    float: left;
  }
}
